name: ci

on:
  push:
    branches: [main]
    tags: ["v*.*.*"]
  pull_request:
    branches: [main]

defaults:
  run:
    # See https://github.com/marketplace/actions/setup-miniconda#important
    shell: bash -el {0}

jobs:
  validate:
    strategy:
      matrix:
        cppVersion: [17, 20]

    name: Validate C++${{ matrix.cppVersion }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Configure environment
        uses: ./.github/actions/configure-environment

      - name: Build and test
        run: make validate-with-no-changes -e CPP_VERSION=${{ matrix.cppVersion }}

  codeQL:
    name: CodeQL
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Configure environment
        uses: ./.github/actions/configure-environment

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: go, cpp

      - name: Build
        run: |
          make build-all

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

  noticeCheck:
    name: Check NOTICE.txt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - run: |
         scripts/generate-notice.sh
         	if [[ `git status --porcelain` ]]; then
            echo "the NOTICE.txt needs to be regenerated using scripts/generate-notice.sh"
            exit 1
          fi
