name: ci

on:
  push:
  #   branches: [main]
  #   tags: ["v*.*.*"]
  # pull_request:
  #   branches: [main]

jobs:
  validate:
    runs-on: ubuntu-latest
    defaults:
      run:
        # See https://github.com/marketplace/actions/setup-miniconda#important
        shell: bash -el {0}

    steps:
      - uses: actions/checkout@v3

      - name: Initial setup
        run: |
          gobin="${RUNNER_TEMP}/bin"
          echo "GOBIN=${gobin}" >> $GITHUB_ENV
          echo "${gobin}" >> $GITHUB_PATH

          # filter conda environment file
          cat environment.yml | grep -v "#.*\<\local\>" > ci-environment.yml

      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: yardl
          environment-file: ci-environment.yml

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: go, cpp

      - name: Build and test C++17
        run: make validate-with-no-changes -e CPP_VERSION=17

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

      - name: Build and test C++20
        run: make validate-with-no-changes -e CPP_VERSION=20
